.card-container {
    width: 200px;
    box-shadow: 4px 4px 4px lightgray;
    border-radius: 20px;
    padding-top: 10px;
    margin: 0 auto;
    text-align: center;
}

img {
    width: 100%;
    max-width: 200px;
}

.card-information {
    background-color: blue;
    color: white;
    padding: 30px 10px;
    border-radius: 0 0 20px 20px;
}

a{
    color: white;
    font-weight: bold;
    font-size: 16px;
}
