* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
  }

  body {
    font-family: Arial, Helvetica, sans-serif;
  }

  h1 {
    text-align: center;
    padding: 20px;
  }

  h2 {
    color: black;
  }

  h3 {
    color: black;
    padding: 0 0 0 20px;
  }

  p {
    font-size: medium;
  }

  .Main-Charter{
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    justify-content: center;
    color: darkgray;
    font-size: small;
    padding: 20px;
  }

  .Sub-Charter {
    display: flex;
    justify-content: center;
    margin: 20px;
    padding: 20px;
  }

  .HeadingBox {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 20px;
  }

  .C1,
  .C2,
  .C3 {
    box-shadow: 1px 1px 2px 2px lightgray;
    border-radius: 10px;
    gap: 10px;
    margin: 10px;
    color: darkgray;
    width: 30%;
  }

  .C1 p,
  .C2 p,
  .C3 p {
    padding: 30px;

  }

  #img1 {
    width: 100%;
    max-width: 250px;
    border-radius: 10px 10px 0 0;
  }

  #img2 {
    width: 100%;
    max-width: 250px;
    border-radius: 10px 10px 0 0;
  }

  #img3 {
    width: 100%;
    max-width: 250px;
    border-radius: 10px 10px 0 0;
    
  }

  .IMG1,
  .IMG2,
  .IMG3 {
    display: flex;
    justify-content: center;
  }

  .Circle,
  .FeaturedCircle {
    height: 5px;
    background-color: rgb(237, 237, 237);
    border-radius: 10px;
    display: flex;
    padding: 10px;
    align-items: center;
    justify-content: center;
    color: rgb(0, 0, 0);
    font-size: 10px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
    flex-direction: row-reverse;
  }

  .FeaturedCircle {
    margin-left: auto;
    background-color: blanchedalmond;
    color: rgb(0, 0, 0);
    font-size: 10px;
    width: 200px;
    height: 30px;
    padding: 10px;
    align-items: center;
    align-content: center;
  }

  .Separator-Box{
    display: flex;
  }

  .Separator-Line {
    padding: 60px 0 50px 10px;
  }

  .Separator-Text {
    padding: 50px 0 50px 50px;
  }

  .styled-hr {
    border: none; 
    border-top: 1px solid #ccc; 
    border-radius: 50%;
    width: 1600px; 
    height: 1px;
  }

  .Heading-hr {
    border: none; 
    border-top: 1px solid #ccc; 
    border-radius: 50%;
    width: 100%; 
    height: 1px;
  }

  .Heading-Line {
    padding: 60px;
  }

  .HeadingBoxBy {
    display: flex;
    gap: 10px;
    align-items: center;
    color: rgb(0, 0, 0);
  }

  .BusinessBox {
    display: flex;
    gap: 10px;
    align-items: center;
  }

  .MarketingBox {
    display: flex;
    gap: 10px;
    align-items: center;
    padding: 0 0 0 20px;
  }

  .Date {
    color: #ccc;
    font-size: small;
  }

  .HeadingInnerBox {
    width: 30px;
    height: 30px;
    border-radius: 50%; 
    overflow: hidden; 
  }
  
  .HeadingInnerBox img {
    width: 100%;
    height: 100%;
    object-fit: cover; 
  }