body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
}

header {
    background-color: #ffcc00;
    text-align: center;
    padding: 20px;
}

.titulo {
    font-size: 36px;
    color: #333;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

.boton-instagram {
    background-color: #125688;
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    display: flex;
   position: absolute;
   top: 200px;
   right: 200px;
  }
  
  .boton-instagram:hover {
    background-color: #0d3e56;
  }
  